<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title id='t'>MyKronus</title>
<link REL="SHORTCUT ICON" id="favicon" HREF="images/favicon.ico">



<meta name="keywords" content="collaboration project management,task project management,online team collaboration,secure collaboration,cloud task management,project collaboration,cross platform mobile,online document repository,enterprise mobile application,enterprise mobile app,cloud collaboration,collaboration in the cloud,secure cloud collaboration,cloud documents,free collaboration online"/>
<meta name="description" content="collaborate anytime, anywhere"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="twitter:widgets:theme" content="dark">
<meta name="twitter:widgets:link-color" content="#07d8f9">
<meta name="twitter:widgets:border-color" content="#ffffff">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script type='text/javascript' src='script/colabusApp.js'></script>

</head>

	
<body>
<script type="text/javascript">

var apiPath = '<%=process.env.apiPath%>';
var myk = '<%=process.env.mykronus%>';
var keyid = '<%-JSON.stringify(key_id)%>';
var keyvalue = '<%-JSON.stringify(key_value)%>';
$(document).ready(function($) {
   
    var d = new Date();
    var kid = keyid.split("\"")[1];
    var kvalue = keyvalue.split("\"")[1];
    ///alert(kid+"----"+kvalue+"----"+apiPath);
    var hostname = getDomain();
    window.sessionStorage.key_id = kid;
    window.sessionStorage.key_value = kvalue ;
    
     var domain =getDomain(); 
     
	  var localOffsetTime=getTimeOffset(new Date());
	  $.ajax({
	  url: apiPath+"/"+myk+"/v1/checkValidation?key_id="+kid+"&key_value="+kvalue+"&reqHost="+hostname+"",
	  type:"GET",
      contentType:"application/json",
      dataType:'json',
	  error: function(jqXHR, textStatus, errorThrown) {
	        checkError(jqXHR,textStatus,errorThrown);
           /// alert(jqXHR.status);
	        $("#loadingBar").hide();
	    	timerControl("");
	  },
	  success:function(result){
		///alert(result);
        if(result == ""){
            alert("User already Activated");
            window.location.href = hostname+"/login";
        }else{
            var uid = result[0].user_id;
            var ulogname = result[0].user_login_name; 
            ///alert(uid+"----"+ulogname);
            autoLogIn(ulogname,"welcome");
        }
	  }
	 }); 

    function autoLogIn(emailId,cPwd){
        var localOffsetTime=getTimeOffset(new Date());
	    $('#localOffsetTime').val(localOffsetTime);
		
		$("input#userName").val(emailId);
	   	$("input#userPwd").val(cPwd);
	   	
		let postlog = apiPath+"/"+myk+"/v1/login";
						let postlogjson = {
							"loginName":emailId,
							"password":cPwd,
							"loginDevice":"web",
							"loginAction":"",
							"eUserId":""
						}  
						$.ajax({
							url: postlog,
							type:"POST",
							contentType:"application/json; charset=utf-8",
							data: JSON.stringify(postlogjson),
							error: function(jqXHR, textStatus, errorThrown) {
								checkError(jqXHR,textStatus,errorThrown);
								///alert(jqXHR.status);
								
								if(jqXHR.status == "401"){

									var usererrorinfo = JSON.parse(jqXHR.responseText);
									console.log("usererrorinfo-->"+usererrorinfo);
									var errorCode = usererrorinfo.errorCode;
									console.log("errorCode-->"+errorCode);
									if(errorCode == "usernameInvalid"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("Invalid Username. In case of mobile number as username, add country code without '+' sign (e.g : 14086000131)").css({ "margin-top": "-20%", "font-size": "15px" });
									}else if(errorCode == "userDisabled"){
										$("input#userName").css("border","1px solid red");
										$('#errorMsg').html("User is disabled").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "passwordInvalid"){
										$("input#userPwd").css("border","1px solid red");
										$('#errorMsg').html("Invalid Password").css({ "margin-top": "-7%", "font-size": "15px" });
									}else if(errorCode == "askEmail"){
										$("input#userPwd").css("border","1px solid red");
										$('#errorMsg').html("Please Enter Valid Email Id").css({ "margin-top": "-7%", "font-size": "15px" });
									}

								}
								if(jqXHR.status == "500"){
									$('#errorListDiv').show();
									var errorMsg = '<h1 style="color: white;">Oops! An Error Occured</h1>'
									+'<h5 style="color: white;">Please try again later</h5>'
									+'<h6 style="color: white;">Go to <a onclick="redirect1();" href="#">Home</a> page.</h6>';
									$('#errorListDiv .iframePanel').html(errorMsg);
									$('#imgDiv,#frmDiv').hide();
								}
								
							},
							success:function(result){
								///alert(result);
								var jsondata = JSON.stringify(result);
								var userlogininfo = JSON.parse(jsondata);
								var rid = userlogininfo.roleId;
								var cname = userlogininfo.companyId;
								window.sessionStorage.user = JSON.stringify(result);
								///window.sessionStorage.traillogin = "Y";
								if(rid != '1'){
									window.location.href = hostname+"/postlogin?pAct=home&roleid="+rid+"&cname="+cname+"";
								}else if(rid == '1'){
									window.location.href = hostname+"/postlogin?pAct=adminhome";
								}
							}
						});
	}


});



</script>

</body>

</html>