<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.contentCss{
	 float: left;
    font-family: Tahoma;
    height: 25px;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 15%;
    background-color: white;
    font-size: 12px;
    text-align: left;
}
span{
color:white;
}
.notfMainDiv {
    height: 34px;
    padding: 4px 15px 0px 15px;
    margin: 0px;
    font-size: 14px;
    color: #fff;
    background-color: #001F35;
    border-bottom: 2px solid #5E5E5E;
    border-top: 2px solid #5E5E5E;
}
.triangle-right {
    position: relative;
}
.workSpace_arrow_right {
    width: auto;
    height: auto;
   /* margin-top: 25px;  */
    float: right;
    /* right: -10px;*/
}
.triangle-right:before {
    top: 9px;
    border-color: transparent transparent transparent white;
    border-width: 11px;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}
.triangle-right:after {
    top: 10px;
    border-color: transparent transparent transparent #010C2C;
    border-width: 10px;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
}

</style>
</head>
<body>
<section  id ="mykronus_section" class="top_cont_outer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-lg-12 iframePanel">
       		<div style="position:relative;float:right;">
						<img id="searchSortImgAccount" onclick="clickMe()" src="images/svg/search.svg" class="wrkRightIcon img-responsive Search_and_sort_cLabelTitle" title="Search and sort" style="cursor: pointer;width: 24px;height: 24px;float: right;/* margin-top: 10px; */margin-right: 15px;">
						<input type="hidden" id="acountView">
						<div class="searchSortPopUp" id="accountSearchSortDiv" style="width: 250px;border-radius: 0px;right: 38px;margin-top: 0px;background-color: rgb(1, 12, 44);height: 53px;border: 1px solid grey;margin-right: 15px;display: none;">
						<div id="" class="workSpace_arrow_right triangle-right" style="margin-top: 0px;margin-right: 0px;right: 0px;"></div>
						<img style="display:none" src="images/mykronus/arrow.png">
						<div class="sortoptclsTask" style="display: none;margin-top: 5px;/* visibility: hidden; */">
							<select style="margin-top: 1px;color:white;margin-left: 10px;background-color: #010C2C;width: 76%;border-radius: 0px;border: none;border-bottom: 1px solid white;" id="filterAccount" class="drpDwnSelected" onchange="filterAccount(this);" disabled>
								<option value="default" selected="" class="drpDwnOptions">All</option>
								<option value="Reimbursed" class="drpDwnOptions">Reimbursed</option>
								<option value="Not Reimbursed" class="drpDwnOptions">Not Reimbursed</option>
							</select>
						<div class="imgsrchfltr" align="center" style="border: none;" disabled><img id="filter3" src="images/filter2.png" style="height: 18px;margin-left: 10px;"></div>
						</div>
							 	          
						<div class="sortoptclsTask" style="color:black;border: none;display: flex;margin-top: 12px;">
						<input id="searchBoxAccount" name="searchBox" onkeypress="handleEvent()" class="serachBoxInputBoxCommonCls Search_cLabelPlaceholder" onclick="filterWrkspaceTask('')" type="text" placeholder="Search" style="margin-left: 10px;border-radius: 0px;background-color: #010C2C;color:white;border-bottom: 1px solid white;width: 79%;">
							<img id="ClearComSearchAccount" onclick="ClearComContAcc()" src="images/xforsearch.png" class="serachBoxClearIconAcc" style="display: block; margin-left: -10px; margin-top: 13px; height: 9px; float: left;"> 
						<div class="searchCloseIconMainDiv"></div>
						<div class="imgsrchfltr" align="center" style="border:none;">
							<img id="" src="images/search1.png" style="height: 18px;margin-left:-15px;margin-top: 6px;" onclick="searchAccountName();" class="notesSearchbox">
						</div>
						</div>
						</div>
						</div>
       		<div id="reportsMainDiv" class="content light notDataCls col-lg-12 containerFluidCls notfRightDivCls" style="padding-top: 10px;overflow: hidden;">
       		
       		
    <!-- <div id="resultDevHeader" style="float:left;width:100%;display:block;margin-top:5px;background-color: #C9B8B1;height: 33px;">
	  	 <div title="User Name" style="background-color:#C9B8B1;width:34%"><span class="contentCss" style="background-color:#C9B8B1;" align="center">User Name</span></div> 
		 <div title="Login Name" style="background-color:#C9B8B1;width:13%" class="contentCss" ><span align="center" >Login Name</span></div> 
		 <div title="Email" style="background-color:#C9B8B1;width:9%" class="contentCss" ><span align="center" >Email</span></div>
		 <div title="Mobile"  style="width:9%;background-color:#C9B8B1" class="contentCss"><span align="center" >Mobile</span></div>
		 <div title="Address (Work)"  style="width:7%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Address (Work)</span></div>
		 <div title="Home"  style="width:4%;background-color:#C9B8B1" class="contentCss" ><span  align="center" >Home</span></div>
		 <div title="RegnType"  style="width:5%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Regn Type</span></div>
		 <div title="CompanyName"  style="width:7%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Company Name</span></div>
		 <div title="Createdby"  style="width:5%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Created by</span></div>
		 <div title="CreatedOn"  style="width:9%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Created On</span></div>
		 <div title="TimeZone"  style="width:5%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Time Zone</span></div>
		 <div title="NameZone"  style="width:6%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Name Zone</span></div>
		 <div title="First Login at"  style="width:10%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >First Login at</span></div>
		 <div title="Current status"  style="width:7%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Current status</span></div>
		 <div title="Last Updated"  style="width:9%;background-color:#C9B8B1" class="contentCss" ><span align="center"  >Last Updated</span></div>
	  </div> -->
	  
	  
	  			<div class="row notfMainDiv" id="headerDiv" style="padding:4px 10px 0px 10px;display:flex;height: 54px;">
				   			<div class=" defaultCls" style="float: left;/* visibility:hidden; */text-align: center;width: 6%;display: inline-grid;"><span>Status</span><span style="color:#a7a2a2">Type</span></div>
				   			<div class=" defaultCls" style="float: left;visibility:hidden;width: 5%;"></div>
				     		<div class=" defaultCls xsDiv" style="float: left;/* padding:0px 4px; */width: 20%;display: inline-grid;"><span>Name</span><span style="color:#a7a2a2">Company</span></div>
				     		<div class=" defaultCls" style="float: left;/* padding:0px 4px; */width: 20%;display: inline-grid;"><span>User Name</span><span style="color:#a7a2a2">Created By</span></div>
				     		<div class=" defaultCls" style="float: left;/* padding:0px 4px; */display: inline-grid;margin-top: 0px;width: 14%;"><span>Mobile</span><span style="color:#a7a2a2">Created Time</span></div>
				     		<div class=" defaultCls" style="float: left;/* padding:0px 4px; */display: inline-grid;margin-top: 0px;width: 20%;">
				     			<span>Email</span>
				     			<div style="display: flex;">
					     			<div style="display: flex;width: 50%;justify-content: left;">
					     				<img title="Open Tasks" style="cursor: pointer;margin-right: 7px;width: 22px;height: 22px;float: right;" src="images/svg/proj_task.svg">
					     				<img title="Personal" style="cursor: pointer;margin-right: 9px;margin-left: 9px;width: 18px;height: 18px;float: right;" src="images/svg/personal1.svg">
					     				<img title="Business" style="cursor: pointer;margin-right: 9px;margin-left: 9px;width: 18px;height: 18px;float: right;" src="images/svg/business.svg">
					     			</div>
					     		    <div style="display: flex;width: 50%;justify-content: left;">
					     				<img title="Open Expenses" style="cursor: pointer;margin-right: 7px;width: 22px;height: 22px;float: right;" src="images/svg/cal.svg">
					     				<img title="Personal" style="cursor: pointer;margin-right: 9px;margin-left: 9px;width: 18px;height: 18px;float: right;" src="images/svg/personal1.svg">
					     				<img title="Business" style="cursor: pointer;margin-right: 9px;margin-left: 9px;width: 18px;height: 18px;float: right;" src="images/svg/business.svg">
					     			</div>
				     			</div>
				     		</div>
				     		<div class=" defaultCls" style="float: left;/* padding:0px 4px; */display: inline-grid;margin-top: 0px;width:14%"><span>Timezone</span><span style="color:#a7a2a2">Last Logged in</span></div>
				     		<!-- <div class="col-xs-3 defaultCls" style="float: left;padding:0px 4px;display:none;"><span>Email</span></div>
				     		<div class="col-xs-2 defaultCls" style="float: left;padding:0px 4px;display:none;"><span>Role</span></div> -->
				     		
				</div>
	  
	  
	  
	  
	   <!-- Added user details-->
	   
			    <div class="defaultScrollDiv" id="resultDevUserActivity" style="float: left;width: 100%;margin-top: 5px;overflow: auto;"> 
			        <div id ="userDevDetails" style="float:left;width:100%"></div>
			    </div>
	  		</div>
	  
	  	</div>
	  </div>
    </div>
  </div>
</section>
	  
	  
<script type="text/javascript">
var limit = "";
var index = 0;
var limitAct = 0;
var flag = 'true';
var indexFlag = 'true';
var firstClickFlag = 'true';
var searchD="";
var serverCallFlag=true;


var scrollCheck = true;


 $("body").click(function(event ) {
	 var $target = $(event.target);
	 if(!$target.parents().is("#accountSearchSortDiv") && !$target.is("#searchSortImgAccount") && !$target.parents().is("#ClearComSearchAccount")){
       $("body").find("#accountSearchSortDiv").hide();
    }
 });
 
 function ClearComContAcc(){
	 $("div#userDevDetails").html('');
	 $("#searchBoxAccount").val("");
	 //alert('hiii');
	 searchAccountName();
 }
 function clickMe(){
		
		$("#accountSearchSortDiv").toggle();
		
	}
	  $(function(){
	     $('#myprofilemenu, #timemenu, #taskmenu, #expensemenu, #teammenu, #analyticmenu, #settingsoption').hide();
	  	 lodingData('','','firstClick');
		  var objTable = document.getElementById("resultDevUserActivity");
			
			objTable.addEventListener("scroll", function () {
			
		  /* document.querySelector("userDevDetails").addEventListener('scroll', function (){ */
				
				if(serverCallFlag){
						//console.log("-----"+$(window).height());
						//console.log($(window).scrollTop());
						//console.log($('#resultDevUserActivity').offset().top);
						//console.log($('#resultDevUserActivity').height());
						
						if(scrollCheck && $('#resultDevUserActivity').scrollTop() + $('#resultDevUserActivity').innerHeight() >= $('#resultDevUserActivity')[0].scrollHeight){
							//alert('------'+serverCallFlag);
							//alert(index+'-----tsum-----'+limitAct);
							scrollCheck = false;
							if(firstClickFlag != 'false' && flag=='true'){
								//index = index + 100;/*  */
								indexFlag = 'false';
							}
							//alert(index+'-----for-----'+limitAct);
							setTimeout(function(){
								if(flag == 'true' && firstClickFlag == 'true' && scrollCheck == false){
									var searchValue=$("#searchBoxAccount").val().trim();
									if(searchValue!=""){
										lodingData(searchValue);
									}else{
									//	alert("inside loadtasktab without firstclick");
										lodingData();
										
									}	
									scrollCheck = true;
								}
							}, 500);
							
						}
						
				
				}
			},false); 
			
			
			

			

		 	
	  });
	  
	
	  $( window ).resize(function() {
	       var h=$(window).height();
	       var hCHeight = eval(h)-100;
	       $("div.containerFluidCls").css("height",hCHeight);
	   	$("#resultDevUserActivity").css("height", hCHeight-66);
	       
	       
	  });		
	  
	 
	  
	  function lodingData(searchText,notFolid,firstClick){
		  
		  	serverCallFlag =false;
		  	$("#loadingBar").show();
			timerControl("start");
			
		  	
		    var h=$(window).height();
	     	var hCHeight = eval(h)-100;
	     	$("div.containerFluidCls").css("height",hCHeight);
	     	
	     	$("#resultDevUserActivity").css("height", hCHeight-66);
	     	
	     	var localOffsetTime=getTimeOffset(new Date());
	     	
			//$("#loadingBar").show();
			//timerControl("start");
			//index = 0;
			//var actConvDivHeight = $('#userDevDetails').height() - $('#headerDiv').height();
			//limitAct = Math.round(actConvDivHeight / 44) + 5;
			
			limitAct=index+100;
			if(firstClick == 'firstClick'){
				//console.log("inside firstclick");
		    		//limitAct = Math.round(actConvDivHeight / 44) + 5;
		    		limitAct=100;
		    	//console.log("limitAct 22222 --> "+limitAct);
			 		index = 0;
			 		flag = 'true';
		    		indexFlag = 'true';
		    		firstClickFlag = 'true';
		    		scrollCheck = true;
		    		/* $("div#taskContainer").html('');
		    		$("select#sortInWs").val('sort');
		    		$("select#sortTasks").val('all');
		    		$("#searchBox").val('');
		    		cancelTaskCreation(); */
				}
			//alert(index+'-----to-----'+limitAct);
            let clientvalue = {
                "searchText":searchText,
                "limit":limitAct,
                "index":index,
                "localOffsetTime":localOffsetTime
            };
		 	 $.ajax({
		 		url: apiPath+"/"+myk+"/v1/analyticsReport",
				type:"POST",
                contentType:"application/json",
                dataType:'json',
				data:JSON.stringify(clientvalue),
				success:function(result){
					if(result != ""){
					    prepareCommonUiForDev(result);
	      			    index=limitAct;
					}else{
						flag='false';
					}
					serverCallFlag=true;
	      			$('#loadingBar').hide();
				    timerControl("");
				}
			}); 
	  }
	  
			
	  function prepareCommonUiForDev(jsonResult){
			var jsonData = jsonResult;
			var json = eval(jsonData);
	    	var data ="";
	    //	$("div#userDevDetails").html('');
			for(var i=0;i<json.length;i++){
				   ///console.log("json[i].userImg--->"+json[i].userImg);
					 var regType="User";
					 var regT="U";
					 if(json[i].regType.indexOf("Enterprise_plus")>-1){
						 regType="Corporate";
						 regT="C";
					 }
					 var currentStatus="Off"
					 var fileName="";
					 if(json[i].currentStatus=="start" || json[i].currentStatus=="break_close"){
						 currentStatus="Work";
						 fileName="playnbg_50.svg";
					 }
					 else if(json[i].currentStatus=="stop"){
						 currentStatus="Off";
						 fileName="stopnbg_50.svg"; 
					 }else if(json[i].currentStatus=="break_start"){
						 currentStatus="Break";
						 fileName="pausenbg_50.svg"; 
					 }else{
						 currentStatus="";
						 fileName="";  
					 }
					 var bgColor="";
					 if(fileName=="" && json[i].lastLoggedIn=='Not started yet'){
						 bgColor="background-color:rgb(1, 12, 44);";
					 }
					/*  data+= '<div style="float:left;width:100%;margin-top:5px;background-color: white;">' 
						 + ' <div class="contentCss" style="display:inline-block;width: 91%;float: left;" title="'+json[i].LoginName+'" id="username" ><span>'+json[i].LoginName+'</span></div> '
						  + ' <div class="contentCss" style="display:inline-block;width: 6%;" title="'+json[i].ZoneName+'" id="username" ><span>'+json[i].TimeZone+'</span></div> '
						  +'<div style="border-top: 1px solid grey;width :100%;float:left">'
						 + ' <div class="contentCss" style="width :5%;float:left" id="username"><span  style="width :auto"></span></div> '
						 + ' <div class="contentCss" style="width :13%;float:left"  title="'+json[i].UserName+'" id="loginname"  ><span  >'+json[i].UserName+'</span></div> '
						 + ' <div class="contentCss" style="width :9%;float:left" title="'+json[i].Email+'" id="email"  ><span  >'+json[i].Email+'</span></div> '
						 + ' <div class="contentCss" style="width :9%;float:left" title="'+json[i].Mobile+'" id="mobile"  ><span  >'+json[i].Mobile+'</span></div> '
						 + ' <div class="contentCss" style="width :7%;float:left" title="'+json[i].Address+'" id="address"  ><span >'+json[i].Address+'</span></div> '
						 + ' <div class="contentCss" style="width :4%;float:left" title="'+json[i].Home+'" id="home"  ><span  >'+json[i].Home+'</span></div> '
						
						
						 
						 + ' <div class="contentCss" style="width :5%;float:left" title="'+regType+'" id="regtype"  ><span  >'+regType+'</span></div> '
						 + ' <div class="contentCss" style="width :7%;float:left" title="'+json[i].CompanyName+'" id="companyname"  ><span >'+json[i].CompanyName+'</span></div> '
						 + ' <div class="contentCss" style="width :5%;float:left" title="'+json[i].Createdby+'" id="createdby"  ><span  >'+json[i].Createdby+'</span></div> '
						 + ' <div class="contentCss" style="width :9%;float:left" title="'+json[i].CreatedOn+'" id="createdon"  ><span >'+json[i].CreatedOn+'</span></div> '
						 /* + ' <div class="contentCss" style="width :5%;float:left" title='+json[i].TimeZone+' id="timezone"  ><span  style="width :auto">'+json[i].TimeZone+'</span></div> '
						 + ' <div class="contentCss" style="width :6%;float:left" title='+json[i].ZoneName+' id="zonename"  ><span  style="width :auto">'+json[i].ZoneName+'</span></div> '
						 + ' <div class="contentCss" style="width :10%;float:left" title="'+json[i].FirstLoginat+'" id="firstloginat"  ><span  >'+json[i].FirstLoginat+'</span></div> '
						 + ' <div class="contentCss" style="width :7%;float:left" title="'+currentStatus+'" id="currentstatus"  ><span style="display:flex;justify-content:center" ><img style="width:19px" src=${path}/images/svg/'+fileName+'></span></div> '
						 + ' <div class="contentCss" style="width :9%;float:left" title="'+json[i].LastUpdated+'" id="lastupdated"  ><span >'+json[i].LastUpdated+'</span></div> ' 
						 	
						 +'</div>'
						 +'</div>'	  */
						 
						 
					 var agileUI ='<div class="row fDiv r_'+json[i].user_id+'" id="team"  style="'+bgColor+'min-height: 44px;padding: 12px 5px 0px 5px;margin: 0px;font-size: 14px;color: #fff;/* border-bottom: 1px solid #2b2b2b; */cursor:pointers;display: flex;">'
						+'<div class=" defaultCls" align="center" style="float: left;width: 6%;">';
					  agileUI+='  <img  src="images/svg/'+fileName+'" class="img-responsive userListImg" style="float:none;width: 18px !important;'+( fileName=="" ? "visibility:hidden" : "")+'" title="'+json[i].currentStatusAt+'"  alt="'+currentStatus+'">'
						 
		               agileUI+='</div>'
					   +'<div class=" defaultCls" align="center" style="width: 5%;float: left;/* padding-right: 65px; */">'
	   				   +'  <img src="'+json[i].userImg+'" class="img-responsive userListImg" style="border-radius: 50%;float:none;" title="'+json[i].username+'" onerror="userImageOnErrorReplace(this)">'
	   				   +'</div>'
	   				   +'<div class=" defaultCls tabContentHeaderName  xsDiv" style="float: left;width:20% ;    padding-left: 0px;" title="'+json[i].name+'">'+json[i].name+'</div>'
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;width: 20%;padding-left: 0px;" title="'+json[i].username+'">'+json[i].username+'</div>'
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;padding-left: 0px;width: 14%;color:#a7a2a2;" title="'+json[i].contact+'">'+json[i].contact+'</div>'
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;padding-left: 0px;width:20%;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;color:#a7a2a2;" title="'+json[i].emailid+'">'+json[i].emailid+'</div>'
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: right;width:14%;color:#a7a2a2;" title="'+json[i].zoneName+'">'+json[i].timeZone+'</div>'
	   				   
	   				  
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;display:none;" title="" ></div>'
	   				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;display:none;" title="" ></div>'
	   				   
 				   +'</div>'
 				   
 				agileUI +='<div class="row fDiv r_'+json[i].user_id+'" id="team"  style="'+bgColor+'min-height: 30px;padding: 0px 5px 0px 5px;margin: 0px;font-size: 14px;color: #fff;border-bottom: 1px solid #2b2b2b;cursor:pointers;display: flex;">'
				+'<div class=" defaultCls tabContentHeaderName  xsDiv" style="float: left;width:6%;/* padding-left: 0px; */text-align: center;color:#a7a2a2;" title="'+regType+'">'+regT+'</div>'

			   +'<div class=" defaultCls" align="center" style="width: 5%;float: left;/* padding-right: 65px; */">'
			   +'<span></span>'
				   +'</div>'
				   +'<div class=" defaultCls tabContentHeaderName  xsDiv" style="float: left;width:20% ;    padding-left: 0px;color:#a7a2a2;" title="'+json[i].company+'">'+json[i].company+'</div>'
				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;width: 20%;padding-left: 0px;color:#a7a2a2;" title="'+json[i].created_by+'">'+json[i].created_by+'</div>'
				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;padding-left: 0px;color: darkgrey;width: 14%;color:#a7a2a2;" title="">'+json[i].createdOn+'</div>'
				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;padding-left: 0px;width: 20%;display:flex;" title="">'
 				   +'<div style="display: flex;width: 50%;justify-content: left;">'
 				   +'	<span style="float: left;width: 29px;height: 100%;"></span>'
 					+'	<span style="float: left;width: 36px;height: 100%;text-align:center;">'+json[i].openTasksPersonal+'</span>'
 					+'	<span style="float: left;width: 36px;height: 100%;text-align:center;">'+json[i].openTasksBusiness+'</span>'
 				   +'</div>'
				
 				   +'<div class=" defaultCls tabContentHeaderName " style="display: flex;width: 50%;justify-content: left;" title="">'
 					+'	<span style="float: left;width: 29px;height: 100%;"></span>'
					+'	<span style="float: left;width: 36px;height: 100%;text-align:center;">'+json[i].openExpensesPersonal+'</span>'
					+'	<span style="float: left;width: 36px;height: 100%;text-align:center;">'+json[i].openExpensesBusiness+'</span>'
				   +'</div>'
			   +'</div>'	   
				   +'<div class=" defaultCls tabContentHeaderName " style="float: right;width:14%;color:#a7a2a2;" title="">'+json[i].lastLoggedIn+'</div>'
				   
				  
				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;display:none;" title="" ></div>'
				   +'<div class=" defaultCls tabContentHeaderName " style="float: left;display:none;" title="" ></div>'
				   
			   +'</div>'
 				   
					//+'<div class="teamDataShow" id="team_'+json[i].userId+'">'
					
					
					 //agileUI+='<div id="s_'+json[i].user_id+'">'
					 //agileUI+='<div class="row notfMainDiv"  style="padding :4px 6px 0px 10px;/* display:flex; */width: 100%;">'
	     				//+'<div class="defaultCls" style="float: left;width:10%;/* background-color: blue; */"><span style="margin-left:10px;">Reg Type</span></div>'
			     	//	+'<div class=" defaultCls" style="float: left;width: 20%;padding-left: 0px;"><span>Company</span></div>'
			     	//	+'<div class="defaultCls" style="float: left;width:20%;/* padding-left: 14px; */"><span>Created By</span></div>'
			     	//	+'<div class="  defaultCls" style="width: 15%;float: left;/* text-align: center; */display: inline-grid;margin-top: 0px;/* padding:0px 4px *//* margin-left: -4px; */"><span>Created Time</span></div>'
			     	//	+'<div class=" defaultCls" style="width:10%;float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px *//* margin-left: -4px; */"><span>Open Task </span></div>'
			     	//	+'<div class=" defaultCls" style="width: 12%;float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px *//* margin-left: -4px; */"><span>Open Expenses</span></div>'
			     ///		+'<div class=" defaultCls" style="width: 13%;float: left;text-align: left;display: inline-grid;margin-top: 0px;/* padding:0px 4px *//* margin-left: -4px; *//* padding-right: 7px; */"><span>Last Logged in</span></div>'
			     			
			     	//	+'<div class=" teamuserWorkData" >'
			     	//	+'</div>'
					//
				/* 	var agileUI = '<div id="Wdata_'+id+'" style="width:100%;border-bottom: 1px solid #2b2b2b;">'
					
					   +'<div class="row wData" id="Wdata_'+json[i].dataType+'_'+id+'" style="height: 44px;cursor:pointer;padding: 12px 15px 0px 15px;margin: 0px;font-size: 14px;color: #fff">'
			   				   +'<div class="col-xs-3 col-sm-3 defaultCls" style="float: left;">'
			   				   +'  <div class="colorCodeDiv" style="height: 10px; width: 10px;float: left; border-radius: 50%;margin-top: 5px;display:none;'+bgColor+'"></div>'
			   				   +'  <span class="colorCodeSpan" style="float:left;margin-left:10px;display:none;">'+status+'</span>'
			   				   +'  <img class="colorCodeDiv" src="'+statusImg+'" title="'+status+'" style="width: 20px;height: 35px;cursor:pointer;margin-top: -8px;margin-left: 15px;">'
			   				   +'</div>'
			   				   +'<div class="col-xs-3 defaultCls" style="float: left;"><span class="colorCodeSpan" >'+start+'</span></div>'

			   				
			       	  +'</div>'
			       	  
			       	+'</div>'
					 */
					
					
					 //agileUI+='<div class="row notfMainDiv" id="s_'+json[i].user_id+'" style="padding :4px 6px 0px 30px;display:flex">'
	     				//+'<div class="col-xs-2 defaultCls" style="float: left;"><span style="margin-left:10px;">Reg Type</span></div>'
			     		//+'<div class="col-xs-3 defaultCls" style="float: left;"><span>Company</span></div>'
			     		//+'<div class="col-xs-2 defaultCls" style="float: left;"><span>Created By</span></div>'
			     		//+'<div class="col-xs-1 col-sm-1 defaultCls" style="float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px */margin-left: -4px;"><span>Created Time</span></div>'
			     		//+'<div class="col-xs-1 col-sm-1 defaultCls" style="float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px */margin-left: -4px;"><span>Open Task </span></div>'
			     		//+'<div class="col-xs-1 col-sm-1 defaultCls" style="float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px */margin-left: -4px;"><span>Open Expenses</span></div>'
			     		//+'<div class="col-xs-2 col-sm-2 defaultCls" style="float: left;text-align: center;display: inline-grid;margin-top: 0px;/* padding:0px 4px */margin-left: -4px;"><span>Last</span></div>'
			     			
			     	//	+'<div class=" teamuserWorkData" >'
			     		//+'</div>'
					  //agileUI +='<div class="row fDiv" style="min-height: 44px;padding: 12px 5px 0px 5px;margin: 0px;font-size: 14px;color: #fff;border-bottom:1px solid #2b2b2b;cursor:pointers;padding: 10px 6px 0px 10px;/* display:flex; */width: 100%;">'
					
	   				   //+'<div class=" defaultCls" style="float: left;width:10%;/* padding: 0px; *//* background-color: blue; */" title="'+regType+'"><span style="margin-left:30px">'+regT+'</span></div>'
	   				   //+'<div class=" defaultCls  " style="float: left;width: 20%;padding-left: 0px;" title="'+json[i].CompanyName+'"><span>'+json[i].CompanyName+'</span></div>'
	   				   //+'<div class=" defaultCls  " style="float: left;color: darkgrey;width:20%;" title="'+json[i].Createdby+'">'+json[i].Createdby+'</div>'
	   				   //+'<div class=" defaultCls  " style="float: left;/* padding-left: 77px; */color: darkgrey;width: 15%;" title="">'+json[i].CreatedOn+'</div>'
	   				   //+'<div class=" defaultCls  " style="float: left;color: darkgrey;width:10%;padding-left: 25px;min-height: 1px;" title=""></div>'
	   				   //+'<div class=" defaultCls  " style="float: left;width: 12%;min-height: 1px;" title="" ></div>'
	   				   //+'<div class=" defaultCls  " style="float: left;width: 13%;/* padding-left: 66px; */" title="" >'+json[i].LastUpdated+'</div>'
	   				   
 				   //+'</div>'
					
 				  // +'</div>'
						 
						 
						 
 			$("div#userDevDetails").append(agileUI);		 
						 
		   }
			
			$("#resultDevUserActivity").show();
			
			 $("div#userDevDetails").show();  
			 $("#loadingBar").hide();
			 timerControl("");

		}
			
			function showExtra(id){
				$("div[id^=s_]").hide();
				$("#s_"+id).toggle();
			}
			function searchAccountName(){
				 searchD=$("#searchBoxAccount").val().trim();
				 $("div#userDevDetails").html('');
				 limitAct=100;
				 index = 0;
				 flag = 'true';
			    indexFlag = 'true';
			    firstClickFlag = 'true';
			    scrollCheck = true;
				//alert(searchD);
				if(searchD!=""){
					 lodingData(searchD);
				}else{
					lodingData('','','firstClick');
				}
				 
			}
			
			function handleEvent(){
				 if ((event.keyCode == 10 || event.keyCode == 13) ){		
					 searchAccountName();
					}
			}
	  
	  </script>
</body>
</html>
