@CHARSET "ISO-8859-1";
/*-------- Features ----------*/
.featuresContent{
	float: left;
	/*width: 980px;*/
	width : 950px;
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 60px;
}
.featuresTopBar{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FF9002;
}
.featureHeaderNews {
    height: 50px;
    margin-left: 8px;
    /*width: 980px;*/
    width: 950px;
}
.lineSepNews {
    color: #999999;
    float: left;
    margin-top: 11px;
    width: 9px;
}
.featuresTopBarNews{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FF9002;
}
.featureTabRight{
	background-color: #F45104;
    float: left;
    margin: 0px 5px 5px 0px;
    width: auto;
    height: 518px;
}
.topLeft{
	border-bottom: 1px solid #CCCCCC;
    color: #000000;
    height: 170px;
    margin: 0;
    padding: 5px;
}
.topMessage{
	color: #757575;
    font-size: 13px;
    text-align: left;
	}
.youTubeV{
	width: 181px; height: 109px; cursor: pointer; 
	padding-bottom: 5px;
	margin-left: 25px;
	}
.colFeatCls{
	color: #A45595;
    font-size: 13px;
    font-weight: bold;
    float: right;
    margin-top: 4px;
    cursor: pointer;
}
.bottomContent{
	height: 335px;
    margin: 0;
    padding: 0;
}
.HeaderUl{list-style: none; padding-top: 5px;
}
.divCls:hover{color:#35C0EC;}

#activeM a{
	color:#000;
}
#activeM a:hover{color:#35C0EC;}
.divCls{ 
    color: #5F5F5F;
    cursor: pointer;
    font-size: 14px;
    list-style: none outside none;
    padding-bottom: 13px;
    padding-top: 10px;
    float: left;
    /*margin-right: 10px;*/
    margin-right: 7px;
}
.workSpaceArea{
	padding-top: 5px; 
	text-align: justify; 
	font-size: 14px;
}
.workCap{
	font-size: 25px;
	color: #35C0EC;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 15px;
	font-weight: bold;
}
.topCont{
	padding: 10px 0 10px 22px;
	}
.conMsg{
	color: #757575;
	line-height:1.2em;
}
.wkSpaceImg{
	height: 380px;
	padding-top: 20px;
	border: 0;
	padding-left: 150px;
}
.loadBar{
	height: 50px;
	left: 450px;
	overflow: visible;
	position: relative;
	top: 254px;
	width: 100px;
	z-index: 2000;
}
.dispCont{
    float: left;
    width: 975px;
    overflow: auto;
    /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9002), to(#F44204)); 
    /* Safari 5.1, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #FF9002, #F44204); 
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(top, #FF9002, #F44204); 
    /* IE 10 */
     background: -ms-linear-gradient(top, #FF9002, #F44204);
     /* Opera 11.10+ */ 
     background: -o-linear-gradient(top, #FF9002, #F44204);
}
.res{
	border-radius: 5px 5px 10px 10px;
    overflow: hidden;
}
.contentSlider{
position: relative;
overflow: hidden;
}
.contentSlider1{
position: relative;
}
.DocCap{
	font-size: 20px;
	color: #35C0EC;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 15px;
	font-weight: bold;
	}
.docBody{
	padding: 10px 10px 10px 20px;
}
.docBox{
	color: #757575;
	font: 18px ;
	line-height:1.4em;
	}
.docDet{
	color: #757575;
	font: 13px ;
	line-height:1.4em;
}
.docMsg{
	color: #757575;
	font: 13px ;
	line-height:1.4em;
}
.docRepo{
	font-size: 20px; 
	color: #35C0EC; 
	padding-bottom: 5px; 
	padding-top: 15px;
}
.docRepoMsg{
	color: #757575; 
	font: 13px; 
	line-height:1.4em;
}
.repoImg{
	height: 395px; 
	padding-top: 25px; 
	border: 0; 
	padding-left: 140px;
}
.admsub{
	padding: 10px 10px 10px 20px;
	 color: #5F5F5F;
	}
admMsg{
	color: #757575;
	 font: 13px ; 
	 line-height:1.4em;
	 }
.admImg{
	 height: 420px; 
	 padding-top: 25px; 
	 border: 0; 
	 padding-left: 135px;
}

.ContactData{
	padding: 10px 10px 10px 20px; 
}
.ContactMsg{
	color: #757575; 
	font: 13px; 
	line-height:1.4em;
}
.ContactImg{
	height: 327px; 
	padding-top: 25px; 
	border: 0; 
	padding-left: 135px;
}
.personalDet{
	padding: 10px 10px 10px 20px;
}
.persMsg{
	color: #757575;
	font: 13px ;
	line-height:1.4em;
}
.persImg{
	height: 374px; 
	padding-top: 25px; 
	border: 0; 
	padding-left: 135px;
}
.mobSec{
	padding: 10px 10px 10px 20px; 
}
.mobCont{
	color: #757575; 
	font: 13px; 
	line-height:1.4em;
}
.phImg{ 
	height: 364px; 
	padding-top: 25px; 
	border: 0;
	margin-left: 135px;
}
.imgSec{
	float: right;
	margin: 15px 5px 0px 0px;
}
.dwnTxtImg{
	float: left;
	 padding-left: 20px; 
	 padding-top: 27px;
}
.appImg{
	float: left; 
	padding-left: 8px;
	padding-top: 15px; 
	padding-right: 3px;
}
.colApp{
	float: left; 
	padding-left: 5px; 
	padding-top: 15px;
}
.gplayImg{
	width: 30px; 
	height: 30px;
}
.txtImg{
	width: 114px; 
	height: 10px;
}
.istoreImg{
	width: 30px;
	 height: 30px;
}
.admnDet{
	padding: 10px;
	padding-left: 20px;
}
.admnMsg{
	color: #757575; 
	font: 13px;
	line-height:1.4em;
}
.admnImg{
	height: 400px; 
	padding-top: 125px; 
	border: 0; 
	padding-left: 110px;
}

/*-------- Pricing -------- */

.pricingLevels {
    background-color: #FAFAFA;
    border: 1px solid #E4DADA;
    float: left;
    height: 185px;
    margin-right: 5px;
    width: 350px;
    text-align: center;
}
.roundCornersStd {
    border-radius: 5px 0 0 5px;
}
.roundCornersEntPlus {
    border-radius: 0 5px 5px 0;
}
.pricingtitle{
	height:30px; 
	width: 904px; 
	text-align: left;
}
 .palnsCap{
	 font-size: 28px; 
	 font-weight: bold; 
	 margin-left: 10px; 
	 margin-bottom: 5px;
	 margin-top: 20px;
 }
.colabusVersions{
	width: 970px; 
	height: 195px; 
}
.standImag{
	padding-bottom: 15px; 
	padding-top: 10px;
}
.IndvTitle{
	font-weight: bold;
	 font-size: 14px; 
	 color: #459207;
}
.EntTitle{
	color: #E9B034;
	font-weight: bold;
	 font-size: 14px;
}
.ProjDet{
	font-size: 11px;
}
.pricing{
	font-size: 11px; 
	margin-top: 7px; 
	font-weight: bold;
}
.stndMail{
	float: left;
	margin: 10px 0px 0px 85px; 
	cursor: pointer;
}
.roundCornersButtons{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	ms-linear-radius:5px 5px 5px 5px;
	background: -o-linear-radius(5px 5px 5px 5px);
 }
.customBtn{
	width: 100px;
	height: 25px; 
	margin-top: 17px; 
	padding-top: 5px; 
	font-weight: bold; 
	color: #FFFFFF; 
	cursor: pointer;
	margin-left: 65px;
}
.pricingFeat {
    background-color: #FFFFFF;
    border: 1px solid #E4DADA;
    height: 370px;
    width: 964px;
    overflow: auto;
    margin-bottom: 45px;
}
.plansPricingFeat {
    float: left;
    padding-left: 15px;
    text-align: left;
    width: 220px;
    font-size: 13px;
}
.pricingPlansCls {
    float: right;
    text-align: center;
    width: 170px;
    font-size: 13px;
}
.pricingimdSec{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 40px;
}
.ownProj{
	border-bottom: 1px solid #DADADA;
	clear: both; 
	padding: 10px 0; 
	height: 20px;
}
.pricingFeatCls {
    float: right;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    width: 170px;
}
.entButtonGradientCls{
		border-radius:5px;
		/* fallback */ background-color:#E9B034; background-repeat: repeat-x;
		/* Safari 4-5, Chrome 1-9 */ 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4C6F9), to(#3E85F2)); 
		/* Safari 5.1, Chrome 10+ */ 
		background: -webkit-linear-gradient(top, #A4C6F9, #3E85F2); 
		/* Firefox 3.6+ */ 
		background: -moz-linear-gradient(top, #A4C6F9, #3E85F2); 
		/* IE 10 */ 
		background: -ms-linear-gradient(top, #A4C6F9, #3E85F2); 
		/* Opera 11.10+ */ 
		background: -o-linear-gradient(top, #A4C6F9, #3E85F2); 
		/*IE 7 and above*/
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#A4C6F9, endColorstr=#3E85F2);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#A4C6F9, endColorstr=#3E85F2)";
	}
.dynaHeight{
	overflow: hidden;
}
.plnImgs{
	height: 15px; 
	width: 15px; 
	padding-bottom: 2px;
}
.imgHeight{
	height: 18px;
}
.crossImg{
	float: left; 
	height: 16px; 
	width: 170px
}
.imgMargin{
	margin-right: 59px;
	float: right;
}
.checkFeatures {
    background: url("../images/website/check.png") no-repeat scroll 50% 0 transparent;
    float: right;
    height: 16px;
    width: 170px;
}
.repoImgs{
	padding-top: 0px;
	float: left;
	margin-left: 30px;
}
.closeVdo{
	right: 1px;
	position: absolute;
	cursor: pointer;
	z-index: 1;
	margin-top: -12px;
	margin-right: -7px;
}
.demoVideo{
	display:none;
	position: absolute;
	top: 20px;
	left: 35px;
	background-color: #FFFFFF;
	z-index: 999;
}
.demoFrameVdo{
	width:1000px;
	margin: 10px;
	height:600px;
	border: 5px solid #FFFFFF;
}
.iframeVedio{
	/*width:306px;*/
	width: 297px;
	height:185px;
	border: 5px solid #FFFFFF;
	border-radius:5px;
	box-shadow:-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow:inset 0 0 5px #000000;
}
/*---------- News --------- */
.newsContent{
	float: left;
	/*width: 980px;*/
	width: 950px;
	overflow: hidden;
	margin-bottom: 35px;
}
.newsContTitle {
    border-left: 15px solid #FFFFFF;
    border-top: 20px solid #3489E9;
    float: right;
    margin-right: 20px;
    text-align: center;
    width: 300px;
}
.textClass {
    color: #5F5F5F;
    font-size: 14px;
    margin: 0 20px 10px;
    text-align: justify;
    line-height: 20px;
}
.appCup{
	clear: both;
	padding-top:35px;
}
.AppC{
	float: left;
 	clear: both;
 	margin-left: 20px;
 }
 .appcMsg{
	clear: both;
	padding-top:35px;
}
.droidM{
	float: left; 
	clear: both;
	margin-left: 15px;
}
.newsMsgA{
	clear: both;
	padding-top:35px;
}
.drMImg{
	margin-top: 10px;
	margin-left: 15px;
	border: medium none;
}
.pRelPopup{
 	background-color: #FFFFFF;
    display: none;
    height: 575px;
    left: 40%;
    margin-left: -200px;
    margin-top: -75px;
    position: fixed !important;
    top: 160px;
    width: 620px;
    z-index: 5010;
}
.popup {
    border: 4px solid #DCDADE;
}
.overlay {
    background-image: url("../images/website/transparentBg.png");
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
}
.popupClose {
    float: right;
}
.pRHeaderTxtClass {
    color: #0485A3;
    font-size: 16px;
    font-weight: bold;
    line-height: 15.5px;
    margin: 0 20px 10px;
    text-align: justify;
}
.pRTxtClass {
    color: #444444;
    font-size: 11px;
    line-height: 15.5px;
    margin: 0 20px 10px;
    text-align: justify;
}
.documentData{
float: left;
width: 162px;
}

.documentDataNews{
float: left;
}

.lineSep{
	float: left;
    margin-right: 5px;
    margin-top: 11px;
    width: 9px;
    color: #999999;
}
.closeImgs{
	cursor:pointer;
	margin-right: -12px;
    margin-top: -13px;
}
.activeMenu{
	color: #35C0EC;
}

.inactiveMenu{
	color:#999999;
}

/*------ Login ------*/

.containerReg{
	position:relative;
}
.containerRegister{
	position:relative;
}
.dispalyReg{
	width:980px;
	float:left;
	margin:0px auto;
}
.dispalyRegister{
	width:950px;
	float:left;
	margin:0px auto;
}
.loginBox{
	background:#FFFFFF;
    height: 280px;
    width: 560px;
    border-radius: 3px;
}
.ForgotBoxHtml {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #000000;
    display: block;
    height: 285px;
    margin-left: 210px;
    margin-top: 110px;
    padding: 25px 30px;
    width: 500px;
}
.sinupOPtionCls{
	float: left;
    width: 38px;
    height: 25px;
    color: #B755A1;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
}
.loginTextBox{
	margin-top: 5px;
	overflow: auto;
}
/*---------- */
.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regResize{
	overflow: hidden;
}
.registerSlide{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    padding: 5px;
    overflow: auto;
    margin-left: 80px;
    -moz-box-shadow:     0 0 5px #000000;
   -webkit-box-shadow:  0 0 5px #000000;
   box-shadow: 0 0 5px #000000;
}
.tableCont{
	loat: left;
    width: 800px;
    overflow: auto;
    min-height: 300px;
    max-height: 480px;
}
.IndBusText{
	margin-left: 20px;
    margin-top: 30px;
}
.rememberMe{
	float: left;
}
.greenImg{
	background: url("../images/website/button_green.png") no-repeat;
	cursor: pointer;
}
.greenImgHtml{
	width: 60px;
	height: 28px;
	margin-right:45px;
}
.greenImgLogin{
	background: url("../images/website/button_green.png") no-repeat;
	cursor: pointer;
	width: 60px;
	height: 28px;
	margin-right:45px;
}
.SignIn{
	margin-right:10px;
	color: #FFFFFF;
	font-weight: bold;
	}
.Register{
	 /*width: 70px;
	float: left;*/
}
/*a {
	color: #000;
}*/
#forgotPwd{
	
	float: left;
}
.greenBtn{
 	float: left;
    margin-left: 20px;
}
#forgotPwd a:hover {
	 color:#35C0EC; text-decoration:underline; 
}
.Register a:hover {
	 color:#35C0EC; text-decoration:underline; 
}
.wrapper a:hover {
    text-decoration: underline;
}
.wrapper h1 {
    color: #066A75;
    font-family: Tahoma;
    font-size: 48px;
    font-weight: bold;
    padding: 2px 0 30px;
    text-align: center;
}
.wrapper h1 {
}
.wrapper h1:after {
    background: -moz-linear-gradient(left center , rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, #93B8BD 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%) repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    height: 2px;
    margin-top: 10px;
    width: 100%;
}
.wrapper p {
    margin-bottom: 15px;
}
.wrapper p:first-child {
    margin: 0;
}
.wrapper label {
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #BEBCBC;
    font-style: italic;
}
input {
    outline: medium none;
}

.LoginCap{
	text-align: center;
}
/*----- Register -------*/
.step1Header {
    color: #B755A1;
    font-size: 20px;
    font-weight: bold;
    padding-left: 22px;
    padding-top: 15px;
}
.regLogin{
	float: right;
	color: #B755A1;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
}
.stanBusInfo{
	margin-top: 25px;
	margin: 10px;
	overflow: auto;
	
}
.accTypeStyle {
    color: #3E3E3C;
    font-size: 18px;
    font-weight: bold;
}
.formItemTxt {
    color: #7A7975;
    font-size: 14px;
    padding-top: 10px;
    line-height: 20px;
}
.formItemTemp{
	background-color: #F3f3f3;
}

.busText{
	margin-top: 20px;
}
.standOr{
	padding-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 64px;
    margin-top: 30px;
}
.openLogin{
	margin-bottom: 10px;
	font-size: 14px;
	color: #7A7975;
	margin-left: 64px;
}
.manFields {
    color: red;
}

.phno{
	 width:237px;
	 padding-top: 7px;
	 float: right;
	 margin-right: 52px; 
}


.forgotPwdSec{
	display: none;
	width: 100%;
	overflow: hidden;
}
.forgotTitle{
	font-size: 20px;
	font-weight: bold;
	color: #B755A1;
	margin-right:85px;
}
.frgtMsg{
	font-size: 14px;
	 color: #4D4E5B;
}
.ForgotBox{
	background:#FFFFFF;
	 border: 1px solid #000000;
    border-radius: 5px;
    height: 285px;
    padding: 25px 30px;
    width: 500px;
    margin-left: 210px;
    margin-top: 110px;
    box-shadow:-moz-box-shadow:     0 0 5px #000000;
   -webkit-box-shadow:  0 0 5px #000000;
   box-shadow: 0 0 5px #000000;
   display:none;
	position:absolute;
}	
.sendBtn{
	font-size: 12px;
	float: right;
	cursor: pointer;
	margin-right:10px;
	margin-top:10px;
}
.createNewButton {
    background-color: #3AB8E9;
    border: 1px solid #77CFF1;
    color: #FFFFFF;
    font-weight: bold;
    height: 20px;
    padding-top: 4px;
    text-align: center;
    width: 60px;
    border-radius:5px;
} 
#brfSubmit{
	width:43px;
	cursor:pointer;
	border:none;
	margin-right: 26px;
}


#flippyBox {
   background:#FFFFFF;
    height: 295px;
    padding: 25px 30px;
    width: 530px;
    margin-left: 210px;
    margin-top: 110px;
    padding: 25px 0px;
    border: 1px solid #000000;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #000000;
    -webkit-box-shadow:  0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
    position: absolute;
}
.activeDisable{
	disabled:disabled;
}
.flippyGoRight{
	cursor: pointer;
}
#formDetails{
	overflow: auto;
}
.RadioSel{
	background-color: #FFFFFF;
    height: 300px;
    margin: 125px auto 0;
    width: 800px;
}
..containerRegister{
	position:relative
}


.contentResizeTest{
    margin:  auto;
    position: relative;
    width: 980px;
}
.allContent{
	height: 680px;
	width: 980px;
	margin-bottom: 20px;
}
.allContentOthers{
	height: auto;
	width: 980px;
}
.headerTest{
	 background-color: white;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 15px #000000;
    height: 65px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.defWidthTest {
    border-radius: 5px 5px 5px 5px;
    border-top: medium none !important;
    background-color: #6D6D6B;
}
.contentsTit{
	padding-top: 100px;
}

.content {
    margin: 0 auto;
    min-width: 1012px;
    width: 1012px;
}

.menuLogoTest {
    float: left;
    margin-top: -13px;
    width: 180px;
    margin-top: 1px;
}
.topContentsTest {
    height: 350px;
    padding-top: 100px;
}
.ContentBodyTest {
    background: none repeat scroll 0 0 #6D6D6B;
    overflow: hidden;
}

.featuresTopBarTest {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    width: 100%;
}
.featureTabRightTest {
    background-color: #fff;
    float: left;
    height: auto;
    margin: 0 5px 5px 0;
    width: auto;
}
.res {
    border-radius: 5px 5px 10px 10px;
    overflow: hidden;
    background-color: #fff;
}
.dispContTest {
    float: left;
    /*overflow: auto;*/
    /*width: 975px;*/
    width: 940px;
    height: auto;
}

/*---------------------- Pricing ----------------------*/

.pricingFeatTest {
    background-color: #FFFFFF;
    border: 1px solid #E4DADA;
    height: auto;
    margin-bottom: 45px;
    overflow: hidden;
    width: 964px;
}
.imgMarginTest {
    float: right;
    margin-right: 30px;
}
.featuresTopBarNewsTest {
    background-color: #fff;
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    width: 100%;
}
#nav a:hover{color:#35C0EC;}
.stanBusInfoHtml {
    margin: 10px;
    margin-top: 0px;
}
