@CHARSET "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
	text-decoration:none;
}
@font-face{
	font-family: 'Abel';
	src: url('../fonts/Abel-Regular.ttf');
	src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abel-regular-webfont.woff') format('woff'),
         url('../fonts/Abel-Regular.ttf') format('truetype'),
         url('../fonts/abel-regular-webfont.woff#opensansregular') format('svg');
}
body{
 font-family: Tahoma;
}
.fullBody{
	height: auto;
	background: #6D6D6B;
}
.header{ 
	background-color: white;
	position: fixed;
    /*overflow: visible;
    
    top: 0;*/
    width: 100%;
    z-index: 10000; 
    height: 65px;
    border-bottom: 1px solid #CCCCCC;
    /*-webkit-box-shadow: 0 0px 15px #000000;
	-moz-box-shadow: 0 0px 15px #000000;
	box-shadow: 0 0px 15px #000000;*/
}
.footerIndex{
	width: 100%;
	/*position: fixed;*/
	z-index: 1000;
	height: 20px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0px 15px #000000;
	-moz-box-shadow: 0 0px 15px #000000;
	box-shadow: 0 0px 15px #000000;
}
.contents{
	overflow: hidden;
	position: absolute;
}
.Menus{
	/*width: 1000px;*/
	width: auto;
	}
.menuBar{
	margin: 0px auto;
	width: 950px;
	padding-top: 9px;
	
}
.menuLogo{
	width: 180px;
	float: left;
}
.LogoImg{
	width:139px;
	height:42px;
	style:border: 0;
	margin-right: 5px;
	cursor: pointer;
}
.featureHeader{
	width: 915px;
	height: 50px;
    padding-left: 35px;
}
#nav ul,ol{
	list-style: none outside none;
}
#nav li:HOVER{
	color: #35C0EC;
	}
#navRight a:HOVER{
	color: #35C0EC;
}
#nav{
	display: block;
    float: left;
    margin-top: 15px;
}
#nav li{
	/*color: #999999;*/
    display: inline;
    font-size: 16px;
    margin-left: 25px;
   	cursor: pointer;
}
/*#nav a{
	color: #999999;
}
#navRight a{
	color: #999999;
}*/
#navRight{
	float: left;
	display: block;
	margin-top: 16px;
	margin-left: 35px;
}
#navRight li{
    display: inline;
    font-size: 15px;
    /*margin-right: 30px;*/
    margin-right: 5px;
    cursor: pointer;
}
.ContentBody{
	overflow: hidden;
	height:auto;
	/*margin-top: 66px;*/
	}
.contentResize{
	width: 980px;
	margin: 0px auto;
	position: relative;
	margin-top: 25px;
	height: 600px;
}
.contentResizeHtml{
	/*width: 980px;*/
	width: 950px;
	margin: 0px auto;
	position: relative;
	margin-top: 90px;
	height: auto;
}
.defWidth{
    border-top:none !important; 
	border-radius:5px; 
}
.topContents{
	height: 350px;
}
.CarousalBody{
	height: 345px;
    /*width: 652px;*/
    width: 632px;
	float: left;
	float: left;
	box-shadow: 0 0 5px #000000;
	}
.roundCornersDiv {
    border-radius: 5px;
}
.TopRight{
	float: right;
    height: 345px;
    /*width: 318px;*/
    width: 308px;
	}
.youTubeVideos{
	height: 195px;
	border-radius:5px;
	background: #FFFFFF;
	box-shadow:-moz-box-shadow:  0 0 10px #000000;
   	-webkit-box-shadow:0 0 5px #000000;
   	box-shadow: 0 0 5px #000000;
	}
.pMessage{
	margin-top:10px;
	height: 138px;
	border-radius:5px;
	box-shadow:-moz-box-shadow:     0 0 10px #000000;
   	-webkit-box-shadow:  0 0 5px #000000;
   	box-shadow: 0 0 5px #000000;
}
.bottomContents{
	height: 210px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.bottomContentsHtml{
	height: 210px;
	margin-top: 10px;
	margin-bottom: 15px;
}
.AdSection{
	height: 205px;
	float: left;
	border-radius:5px;
	background: #FFFFFF;
	/*width: 305px;*/
	width: 295px;
	box-shadow:-moz-box-shadow:     0 0 5px #000000;
   -webkit-box-shadow:  0 0 5px #000000;
   box-shadow: 0 0 5px #000000;
}
.FullAdSec{
	height: 205px;
	float: left;
	/*width: 340px;*/
	width:330px;
	margin-left: 8px;
	margin-right: 8px;
}
.BlackBerry{
	height: 90px;
	background: #FFFFFF;
	border-radius:5px;
	box-shadow:-moz-box-shadow:     0 0 10px #000000;
   -webkit-box-shadow:  0 0 5px #000000;
   box-shadow: 0 0 5px #000000;
}
.advSec{
	margin-top:10px;
	height: 100px;
}
.AppEvent{
	background: #FFFFFF;
	border-radius:5px 0px 0px 5px;
	/*width: 176px;*/
	width: 172px;
	height: 105px;
	float: left;
	box-shadow:-moz-box-shadow:     0 0 10px #000000;
   	-webkit-box-shadow:  0 0 5px #000000;
   	box-shadow: 0 0 5px #000000;
}
.twitterLink{
	background: #FFFFFF;
	border-radius:0 5px 5px 0;
	width: 155px;
	height: 105px;
	float: right;
	box-shadow:-moz-box-shadow:     0 0 10px #000000;
   	-webkit-box-shadow:  0 0 5px #000000;
   	box-shadow: 0 0 5px #000000;
}
#GoogleAna{
	height: 205px;
	float: right;
	border-radius:5px;
	background: #FFFFFF;
	/*width: 314px;*/
	width: 306px;
	box-shadow:-moz-box-shadow:     0 0 10px #000000;
   	-webkit-box-shadow:  0 0 5px #000000;
   	box-shadow: 0 0 5px #000000;
}
.slidepart{
	height: 95px;
	margin-top: 5px;
	overflow: hidden;
}
.fl {
    float: left;
}
.androidAd{
	width: 235px;
	margin-top: 20px; 
	float: left; 
	margin-left: 10px; 
	border: 0;
	text-decoration: none;
}
.appBrainAd{
	margin-top: 20px;
	float: left; 
	margin-left: 80px; 
	border: 0;
}
.andComAd{
	float: left;
	margin-left: 80px;
	 border: 0;
}
.iPhoneAppAd{
	float: left;
	margin-left: 80px;
	border: 0;
	height:90px;
}
.topAppAd{
	width: 270px;
	margin-top: 20px;
	float: left;
	border: 0;
}
.udm4{
	width: 270px;
	margin-top: 20px;
	float: left;
	border: 0;
}
.droidmeterApp{
	margin: 20px 10px 5px 20px;
	 float: left;
	 margin-left: 60px;
	 border: 0;
}
.boxClApp{
	margin: 20px 10px 5px 20px;
	float: left;
	margin-left: 100px;
	border: 0;
}
.appcupAd{
	margin: 20px 10px 5px 20px;
	float: left;
	margin-left: 40px;
	border: 0;
}
.appreviewAd{
	width: 235px;
	margin-top: 20px;
	float: left;
	margin-left: 30px;
	border: 0;
}
.adMessage{
	color: #9900CC;
	margin: 10px;
	font-size: 16px;
	line-height: 25px;
}
.twLink{
	color: #006600;
	font-size: 25px;
	cursor: pointer;
	font-weight: bold;
}
.twLink a{
	color: #006600;
}
.twt{
margin: 15px;
line-height:27px;
}
.blBerryMsg{
	margin: 0px 15px 15px 65px;
	padding-top: 15px;
	line-height: 27px;
}
.bbMsg{
	font-size: 16px;
}
.BlkComments{
	font-size: 25px;
}
.comments{
	font-size: 17px;
}
.pMessage{
	background: #FFFFFF;
}
.sysMsg{
	margin: 0px 30px 30px 45px;
	padding-top: 30px;
}
.sysComments{
	font-size: 15px;
}
/*.facebookIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	background-image: url("../images/website/socialIcons/facebook.png");
	background-repeat: no-repeat;
}

.facebookIcon:hover {
	background-image: url("../images/website/socialIcons/facebookTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	cursor: pointer;
}

.googleIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	background-image: url("../images/website/socialIcons/googlep.png");
	background-repeat: no-repeat;
}

.googleIcon:hover {
	background-image: url("../images/website/socialIcons/googlepTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	cursor: pointer;
}

.yahooIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	background-image: url("../images/website/socialIcons/yahooOne.png");
	background-repeat: no-repeat;
}

.yahooIcon:hover {
	background-image: url("../images/website/socialIcons/yahooTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	cursor: pointer;
}

.linkdinIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 8px 0px 0px;
	background-image: url("../images/website/socialIcons/linkdinOne.png");
	background-repeat: no-repeat;
}

.linkdinIcon:hover {
	background-image: url("../images/website/socialIcons/linkdinTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	cursor: pointer;
}

.stumbleIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	background-image: url("../images/website/socialIcons/stumbleuponOne.png");
	background-repeat: no-repeat;
}

.stumbleIcon:hover {
	background-image: url("../images/website/socialIcons/stumbleuponTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	cursor: pointer;
}

.redigetIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	background-image: url("../images/website/socialIcons/rediget.png");
	background-repeat: no-repeat;
}

.redigetIcon:hover {
	background-image: url("../images/website/socialIcons/redigetTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	cursor: pointer;
}

.redditIcon {
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	background-image: url("../images/website/socialIcons/redditOne.png");
	background-repeat: no-repeat;
}

.redditIcon:hover {
	background-image: url("../images/website/socialIcons/redditTwo.png");
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	float: left;
	text-align: center;
	padding: 0px 2px 0px 0px;
	cursor: pointer;
}
.openId{
	margin-top: 15px;
	margin-left: 40px;
	float: left;
}
*/
/*------ carousal ------- */

section {
	display: block;
	overflow: hidden;
	position: relative;
}
.button {
	background: #014464;
	background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 
	border: 1px solid #368DBE;
	border-top: 1px solid #c3d6df;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 3px black;
	-webkit-box-shadow: 0 1px 3px black;
	box-shadow: 0 1px 3px black;
	color: white;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px black;
	text-transform: uppercase;
	width: auto;
}
.button2 {
	background: #d9ae00;
	background: -moz-linear-gradient(top, #b28b06, #9c7705 50%, #9c7705 51%, #5c4100);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b28b06), color-stop(.5, #9c7705), color-stop(.5, #9c7705), to(#5c4100)); 
	border: 1px solid #c7a60c;
	border-top: 1px solid #e5d51f;
}
.button3 {
	background: #ffd838;
	background: -moz-linear-gradient(top, #edbf21, #c89b0f 50%, #9c7705 51%, #906706);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #edbf21), color-stop(.5, #c89b0f), color-stop(.5, #c89b0f), to(#906706)); 
	border: 1px solid #c7a60c;
	border-top: 1px solid #e5d51f;
}
.pix_diapo {
	background: #FFFFFF;
	-moz-box-shadow: 0 3px 6px #000;
	-webkit-box-shadow: 0 3px 6px #000;
	box-shadow: 0 3px 6px #000;
	height: 344px;
	overflow: hidden;
	position: relative;
}
.pix_diapo > div {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#pix_prev, #pix_next {
	cursor: pointer;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 1001;
}
#pix_prev {
	background: url(images/diapo/prev.png) no-repeat;
	left: 10px;
}
#pix_next {
	background: url(images/diapo/next.png) no-repeat;
	left: auto!important;
	right: 10px!important;
}
#pix_pag {
	margin: 0 auto;
	position: relative;
	/*width: 940px;*/
	z-index: 1002;
}
#pix_commands {
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 15px 0 0 13px;
	position: relative;
	width: 24px;
}
#pix_play {
	background: url(images/diapo/play.png) center no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}
#pix_stop {
	background: url(images/diapo/pause.png) center no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}
#pix_pag_ul {
	float: right;
	margin-top: -37px;
	padding: 0;
}
#pix_pag_ul > li {
	cursor: pointer;
	display: block;
	.display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 20px 8px 0;
	text-align: center;
	text-indent: -9999px;
	width: 16px;
}
#pix_pag_ul > li > span {
	background: #222;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	height: 16px;
	width: 16px;
}
#pix_pag_ul > li:hover > span > span {
	background: #ccc;
}
#pix_pag_ul > li > span > span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	float: left;
	height: 8px;
	margin: 4px;
	width: 8px;
}
#pix_pag_ul > li.diapocurrent > span > span {
	background: #ff0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#pix_pag_ul > li > .pix_thumb {
	border: 4px solid #f2f2f2;
	.border: 4px solid #e6e6e6;
	border: 4px solid #e6e6e6\9;
	-moz-box-shadow: 0 1px 8px #000;
	-webkit-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	height: 58px;
 	left: -17px;
	position: absolute;
	top: -40px;
	width: 58px;
}
#pix_pag_ul > li > .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid  #e6e6e6;
	top: 26px;
	left: 12px;
	position: absolute;
}
.pix_relativize {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.elemHover {
	position: absolute;
}
.caption {
	background: rgba(0, 0, 0, 0.8);
    .filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
	bottom: 20px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 20px;
}
.ui-loader {
	display: none;
}
.carosaldiv{
	overflow:hidden; 
	height:345px;
	border-radius:5px;
	background:#FFFFFF;
	border:5px spolid #CCCCCC;
}